@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-italic";
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll {
  padding-right: 30px;
  scrollbar-gutter: stable;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin-left: auto;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ff7000;
  border-radius: 4px;
  margin-left: auto;
}

:root {
  --bg-light: #ffffff;
  --bg-dark: #000000;
  --primary-dark: #0f1117;
  --primary-light: #e9e9e9;
  --accent: #ff7000;
  --secondary-dark: #1a1a1a;
  --secondary-light: #aaaaaa;
  --font-roboto: "Roboto", sans-serif;
}

@layer utilities {
  .body {
    @apply font-[var(--font-roboto)]
    bg-[var(--bg-light)] dark:bg-[var(--bg-dark)]
    text-[var(--primary-dark)] dark:text-[var(--primary-light)] !important;
  }

  .bg-upload {
    @apply bg-[url('/other/upload_bg_light.svg')] dark:bg-[url('/other/upload_bg_dark.svg')];
  }

  .bg {
    @apply bg-[var(--bg-light)] dark:bg-[var(--bg-dark)];
  }

  .text {
    @apply text-[var(--bg-light)] dark:text-[var(--bg-dark)];
  }

  .bg-primary {
    @apply bg-[var(--primary-light)] dark:bg-[var(--primary-dark)] !important;
  }

  .text-primary {
    @apply text-[var(--primary-dark)] dark:text-[var(--primary-light)] !important;
  }

  .bg-secondary {
    @apply bg-[var(--secondary-light)] dark:bg-[var(--secondary-dark)] !important;
  }

  .text-secondary {
    @apply text-[var(--secondary-dark)] dark:text-[var(--secondary-light)] !important;
  }

  .bg-accent {
    @apply bg-[var(--accent)] !important;
  }

  .text-accent {
    @apply text-[var(--accent)] !important;
  }

  .bg-gradient {
    background: linear-gradient(
      129deg,
      #ff7000 30%,
      #e2985e 77%,
      #e2995f 100%
    ) !important;
  }

  .text-gradient {
    color: linear-gradient(
      129deg,
      #ff7000 30%,
      #e2985e 77%,
      #e2995f 100%
    ) !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
