@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-italic";
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --bg: #000000;
  --primary-dark: #0f1117;
  --primary-light: #e9e9e9;
  --accent: #ff7000;
  --secondary-dark: #1a1a1a;
  --secondary-light: #aaaaaa;
  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-roboto);
  font-smooth: antialiased;
}
